
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');


*{margin:0;padding:0;box-sizing:border-box;}
ul, li{list-style:none;}
:root {
    --blue: rgb(98, 98, 255);
    --dark_blue: rgb(0, 0, 214);
    --primarydark: #13161e;
    --secondarydark: #0d1016;
    --white: white;
    --grey: rgba(107, 107, 107, 0.5);
    --light_grey: rgb(187, 187, 187);
    --black: black;
    --active: rgb(187, 187, 187);
  }

body{
    background-color:var(--primarydark);    
}
body{
    -ms-overflow-style: none;
} 
::-webkit-scrollbar {
    display: none;
}
header{
    padding:0;
    margin:0;
    background-color:var(--secondarydark);
   
}
.menu{
    align-items:center;
    display:flex;
    justify-content:center;
}
.menu > li{
    width:50px;
    color:ghostwhite;
    font-size:22px;
    font-family: 'Roboto', sans-serif;
    margin-left:6vw;
    margin-right:6vw;
}
.menu > li :hover{
    color:var(--active);
}
.menu > ul > li{
    display: inline-block;
}
a{
    text-decoration: none;
    color:ghostwhite;
}
.logo{
    display:flex;
    width:55px;
    margin-top:12px;
    margin-bottom:12px;
    margin-left:6vw;
    margin-right:6vw;

}

/* faq_section */
.faq_title{
    margin-top:75px;
    font-family: 'Kanit', sans-serif;
    color:ghostwhite;
    font-size:27px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.title{
    width:800px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:0.5px darkgray solid;
    height:85px;
}
.faq{
    margin-top:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:ghostwhite;
}
.faq_div{
    width:750px;
}
.faq_div > ul > li{
    margin-top:65px;
}
.faq_div > ul > li > h1{
    font-size:26px;
}
.last_li{
    padding-bottom:50px;
}

/* creater */
.creater{
    height: 60px;
    background-color: var(--secondarydark);
    display:flex;
    justify-content:center;
    align-items:center;
}
.creater_div > p {
    color:ghostwhite;
    font-size:15px;
}
